<div class="midasi">
	<h3 class="midasitext">New Post</h3>
</div>

<% if current_user.twitter_account.blank? and current_user.instagram_account.blank? %>
	<div>
		<p>SNSアカウントを登録してください。</p>
	</div>
<% else %>
	<div class="post_form">
	<%= form_for @post_new, url:  users_posts_path do |f| %>
		<div class="new_post">
			<%= f.attachment_field :image %>
			<div class="post_field">
				<%= f.label :アイテム %>
				<div class="post_field_text">
					<%= f.text_field :item_name %>
				</div>
			</div>
			<div class="post_field">
				<%= f.label :詳細 %>
				<div class="post_field_text">
					<%= f.text_area :description %>
				</div>
			</div>
			<div class="post_field">
				<%= f.label :ジャンル %>
				<div class="post_field_text">
					<%= f.collection_select :genre_id, Genre.active_genre, :id, :kind %>
				</div>
				</div>
				<div class="post_field">
					<%= f.label :価格 %>
					<div class="post_field_text">
						<%= f.text_field :price %><span class="jpy">円</span>
					</div>
				</div>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<div class="new_post_button">
	  				<%= f.submit '新規登録' %>
	  			</div>
	  		</div>
  		</div>
	<% end %>
	</div>
<% end %>