<div class="row">
    <%= render 'partials/sidebar', genres: @genres %>

    <div class="col-xs-10">
        <div>
            <%= render 'partials/post', post: @post %>
        </div>

        <div class="post_button">
            <% if user_signed_in? %> <!-- ユーザーがログインしていて自分以外の販売中の投稿に購入ボタンを表示させる -->
                <% if @post.status == "販売中" && @post.user != current_user %>
                    <%= form_for @purchase, url: users_purchases_path, method: :POST do |f| %>
                        <%= f.hidden_field :post_id, :value => @post.id %>
                        <%= f.hidden_field :selling_user_id, :value => @post.user_id %>
                        <%= f.hidden_field :genre_id, :value => @post.genre_id %>
                        <%= f.hidden_field :shipping_address_id, :value => 1 %>
                        <%= f.submit "購入" %>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <div class="comment_<%= @post.id %>"> <!-- 非同期通信のためのclass -->
            <%= render 'partials/comment', {post: @post, comment: @comment} %>
        </div>
        <% if user_signed_in? %>
            <div class="form_comment">
                <%= form_for [@post, @comment], url: users_post_comments_path(@post), data: {remote: true} do |f| %>
                    <div class="text_comment">
                        <%= f.text_area :post_comment, rows:'3', class:"form-control comment_form", placeholder: "Comment"%>
                    </div>
                    <div class="submit_comment">
                        <%= f.submit '送信' %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>