<div class="row">
    <%= render 'partials/sidebar', genres: @genres %>

    <div class="col-xs-10">
        <div>
            <%= render 'partials/post', post: @post %>
        </div>

        <div class="post_button">
            <% if current_user %>
                <% if @post.status == "販売中" && @post.user != current_user %>
                    <%= form_for @purchase, url: users_purchases_path, method: :POST do |f| %>
                        <%= f.hidden_field :post_id, :value => @post.id %>
                        <%= f.hidden_field :selling_user_id, :value => @post.user_id %>
                        <%= f.hidden_field :genre_id, :value => @post.genre_id %>
                        <%= f.hidden_field :shipping_address_id, :value => 1 %>
                        <%= f.submit "購入" %>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <div>
            <%= render 'partials/comment', {post: @post, comment: @comment} %>
        </div>
    </div>
</div>