<div class="midasi">
	<h3 class="midasitext">Edit Shipping Address</h3>
</div>

<div>
	<%= form_for @shipping_address, url: users_shipping_address_path(@shipping_address.id) do |f| %>
		<%= f.label :Postal_Code %>
		<%= f.text_field :postal_code %>
		<%= f.label :Address %>
		<%= f.text_field :address %>
		<%= f.submit 'Update' %>
	<% end %>
</div>