<div>
    <h4>コメント<i class="fas fa-comments"></i></h4>
        <div>
            <% post.comments.each do |comment| %>
                <div class="comment_text">
                    <%= link_to users_user_path(post.user.id), class: "user_#{comment.user.id}", :style=>"color:gray;" do %>
                        <%= comment.user.name %>
                    <% end %>
                    <%= comment.post_comment %>
                    <% if comment.user == current_user or post.user == current_user %>
                        <%= link_to '', users_post_comment_path(post, comment), method: :delete, remote: true, class:"fas fa-trash fa trash_black ", :style=>"color:gray;" %>
                    <% elsif admin_signed_in? %>
                        <%= link_to '', users_post_comment_path(post, comment), method: :delete, remote: true, class:"fas fa-trash fa trash_black ", :style=>"color:gray;" %>
                    <% end %>
                </div>
            <% end %>
        </div>
</div>

