<div>
	<h3>投稿編集</h3>
</div>

<div>
	<div class="post_form">
		<% if admin_signed_in? %>
			<%= form_for post, url: admins_post_path(post.id) do |f| %>
				<div class="new_post">
					<%= f.attachment_field :image %>
					<div class="post_field">
						<%= f.label :アイテム %>
						<div class="post_field_text">
							<%= f.text_field :item_name %>
						</div>
					</div>
					<div class="post_field">
						<%= f.label :詳細 %>
						<div class="post_field_text">
							<%= f.text_area :description %>
						</div>
					</div>
					<div class="post_field">
						<%= f.label :ジャンル %>
						<div class="post_field_text">
							<%= f.collection_select :genre_id, Genre.active_genre, :id, :kind %>
						</div>
					</div>
					<div class="post_field">
						<%= f.label :価格 %>
						<div class="post_field_text">
							<%= f.text_field :price %><span class="jpy">円</span>
						</div>
					</div>
					<div class="post_field">
						<%= f.label :ステータス %>
						<div class="post_field_text">
							<%= f.select :status, Post.statuses.keys.to_a %>
						</div>
					</div>
					<div class="new_post_button">
				  		<%= f.submit '更新' %>
				  	</div>
				</div>
		<% end %>
		<% else %>
			<%= form_for @post_new, url:  users_posts_path do |f| %>
				<div class="new_post">
					<%= f.attachment_field :image %>
					<div class="post_field">
						<%= f.label :アイテム %>
						<div class="post_field_text">
							<%= f.text_field :item_name %>
						</div>
					</div>
					<div class="post_field">
						<%= f.label :詳細 %>
						<div class="post_field_text">
							<%= f.text_area :description %>
						</div>
					</div>
					<div class="post_field">
						<%= f.label :ジャンル %>
						<div class="post_field_text">
							<%= f.collection_select :genre_id, Genre.active_genre, :id, :kind %>
						</div>
					</div>
					<div class="post_field">
						<%= f.label :価格 %>
						<div class="post_field_text">
							<%= f.text_field :price %><span class="jpy">円</span>
						</div>
					</div>
					<div class="new_post_button">
				  		<%= f.submit '更新' %>
				  	</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>