<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>購入日時</th>
			<th>商品</th>
			<th>販売者</th>
			<th>ステータス</th>
			<th>購入者</th>
			<th>ステータス</th>
		</tr>
	</thead>

	<tbody>
		<% @purchases.each do |purchase| %>
		<tr>
			<% if user_signed_in? %>
				<td><%= link_to users_purchase_path(purchase.id), :style=>"color:gray;" do %>
						<%= purchase.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
					<% end %>
				</td>
				<td><%= purchase.post.item_name %></td>
				<td>
					<% if purchase.selling_user.status == "有効" %>
						<%= purchase.selling_user.name %>
					<% else %>
						<span>退会済</span>
					<% end %>
				</td>
				<td><%= purchase.selling_status %></td>
				<td>
					<% if purchase.buying_user.status == "有効" %>
						<%= purchase.buying_user.name %>
					<% else %>
						<span>退会済</span>
					<% end %>
				</td>
				<td><%= purchase.buying_status %></td>
			<% else %>
				<td>
					<%= link_to admins_purchase_path(purchase.id), :style=>"color:gray;" do %>
						<%= purchase.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
					<% end %>
				</td>
				<td><%= purchase.post.item_name %></td>
				<td><%= purchase.post.user.name %></td>
				<td><%= purchase.selling_status %></td>
				<td><%= purchase.buying_user.name %></td>
				<td><%= purchase.buying_status %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="paginate">
    <%= paginate @purchases %>
</div>