<div class="post">
    <div class="post_image">
        <%= attachment_image_tag post, :image, size:"300x300" %>
    </div>

    <div class="favorite post_<%= post.id %>">
        <%= render 'partials/favorite', post: post %>
    </div>

    <% if post.status == "販売中" %>
        <div class="price_information">
            <%= post.price.to_s(:delimited) %>円
        </div>
    <% else %>
        <div class="price_information">
            <%= post.status %>
        </div>
    <% end %>
</div>

<div class="post_information">
    <div class="information_content">
        <div class="information_label">
            <p>アイテム</p>
        </div>
        <div class="information_text">
            <%= post.item_name %>
        </div>
    </div>

    <div class="information_content">
        <div class="information_label">
            <p>ジャンル</p>
        </div>
        <div class="information_text">
            <%= post.genre.kind %>
        </div>
    </div>

    <div class="information_content">
        <div class="information_label">
            <p>詳細</p>
        </div>
        <div class="information_text">
            <%= post.description %>
        </div>
    </div>

    <div class="information_content">
        <div class="information_label">
            <% if admin_signed_in? %>
                <%= link_to "#{post.user.name}", admins_user_path(post.user.id), :style=>"color:gray;" %>
            <% else %>
                <%= link_to "#{post.user.name}", users_user_path(post.user.id), :style=>"color:gray;" %>
            <% end %>
        </div>
        <div class="information_text">
            <%= link_to "#{post.user.twitter_account}", "https://twitter.com/#{post.user.twitter_account}", target: :_blank, class:"fab fa-twitter", :style=>"color:gray;" %>
        </div>
        <div class="information_text">
            <%= link_to "#{post.user.instagram_account}", "https://www.instagram.com/#{post.user.instagram_account}/", target: :_blank, class:"fab fa-instagram", :style=>"color:gray;" %>
          </div>
    </div>

    <!-- 販売ステータスが「売切」以外で管理者と投稿者本人だけが編集可能 -->
    <% if admin_signed_in? && post.status != "売切" %>
        <%= link_to "編集", edit_admins_post_path(post.id), class:"btn btn-default active" %>
        <%= link_to "削除", admins_post_path(post.id), method: :delete, class:"btn btn-default active" %>
    <% elsif current_user == post.user && post.status != "売切" %>
        <%= link_to "編集", edit_users_post_path(post.id), class:"btn btn-default active" %>
        <%= link_to "削除", users_post_path(post.id), method: :delete, class:"btn btn-default active" %>
    <% end %>
</div>
