<table class="table table-hover table-inverse users_table">
	<thead>
		<tr>
			<% if admin_signed_in? %>
				<th>ID</th>
				<th></th>
				<th>名前</th>
				<th><i class="fab fa-twitter"></i></th>
				<th><i class="fab fa-instagram"></i></th>
				<th></th>
			<% else %>
				<th></th>
				<th>名前</th>
				<th><i class="fab fa-twitter"></i></i></th>
				<th><i class="fab fa-instagram"></i></th>
				<th></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% users.each do |user| %>
			<tr>
				<% if admin_signed_in? %>
					<td><%= user.id %></td>
					<td>
						<div class="icons">
						<%= link_to admins_user_path(user.id) do %>
							<%= attachment_image_tag(user, :user_image, size: "80x80", fallback: "no_image.jpg") %>
						<% end %>
						</div>
					</td>
					<td><div class="td_text"><%= user.name %></div></td>
					<td><div class="td_text"><%= user.twitter_account %></div></td>
					<td><div class="td_text"><%= user.instagram_account %></div></td>
					<td><div class="td_text"><%= user.status %></div></td>
				<% else %>
					<td>
						<%= link_to users_user_path(user.id) do %>
							<%= attachment_image_tag(user, :user_image, size: "80x80", fallback: "no_image.jpg") %>
						<% end %>
					</td>
					<td><div class="td_text"><%= user.name %></div></td>
					<td><div class="td_text"><%= user.twitter_account %></div></td>
					<td><div class="td_text"><%= user.instagram_account %></div></td>
					<td class="user_<%= user.id %>">
						<div class="td_follow">
							<%= render 'partials/follow', user: user %>
						</div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="paginate">
    <%= paginate @users %>
</div>