<div class="user_<%= user.id %>">
	<div class="icon">
		<%= attachment_image_tag(user, :user_image, size: "200x200", fallback: "no_image.jpg") %>
	</div>
	<div class="follow">
		<%= render 'partials/follow', user: user %>
	</div>
	<div class="profile">
		<div class="content_text">
			<%= user.profile %>
		</div>
	</div>

	<div class="infomation">
		<div class="content">
			<div class="content_text">
				<%= link_to "#{user.twitter_account}", "https://twitter.com/#{user.twitter_account}", target: :_blank, class:"fab fa-twitter", :style=>"color:gray;"  %>
			</div>
		</div>
		<div class="content">
			<div class="content_text">
				<%= link_to "#{user.instagram_account}", "https://www.instagram.com/#{user.instagram_account}/", target: :_blank, class:"fab fa-instagram", :style=>"color:gray;" %>
			</div>
		</div>
		<div class="content">
			<div class="content_label">
				<p>フォロワー</p>
			</div>
			<div class="content_text">
				<% if admin_signed_in? %>
					<%= user.follower_user.where(status: "有効").count %>
				<% else %>
					<%= link_to users_user_followers_path(user.id), :style=>"color:gray;" do %>
						<%= user.follower_user.where(status: "有効").count %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="content">
			<div class="content_label">
				<p>フォロー</p>
			</div>
			<div class="content_text">
				<% if admin_signed_in? %>
					<%= user.following_user.where(status: "有効").count %>
				<% else %>
					<%= link_to users_user_follows_path(user.id), :style=>"color:gray;" do %>
						<%= user.following_user.where(status: "有効").count %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>