<div class="headline">
	<h3 class="headline_text"><%= @user.name %>さんの会員情報編集</h3>
</div>

<div class="admin_user_edits">

	<%= form_for @user, url: admins_user_path(@user.id) do |f| %>
		<div class="admin_edit">
			<div class="admin_edit_label">
				<p><b>ID</b></p>
			</div>
				<%= @user.id %>
		</div>
		<div class="admin_user_edit">
			<div class="admin_user_edit_label">
				<%= f.label :プロフィール画像 %>
			</div>
	    	<%= f.attachment_field :user_image %>
	    </div>
		<div class="admin_user_edit">
			<div class="admin_user_edit_label">
				<%= f.label :名前 %>
			</div>
				<%= f.text_field :name %>
		</div>
		<div class="admin_user_edit">
			<div class="admin_user_edit_label">
				<%= f.label :Twitter %>
			</div>
				<%= f.text_field :twitter_account %>
		</div>
		<div class="admin_user_edit">
			<div class="admin_user_edit_label">
				<%= f.label :Instagram %>
			</div>
				<%= f.text_field :instagram_account %>
		</div>
		<div class="admin_user_edit">
			<div class="admin_user_edit_label">
				<%= f.label :プロフィール %>
			</div>
				<%= f.text_area :profile %>
		</div>
		<div class="admin_user_edit">
			<div class="admin_user_edit_label">
				<%= f.label :メール %>
			</div>
				<%= f.text_field :email %>
		</div>
		<div class="admin_user_edit">
			<div class="admin_user_edit_label">
				<%= f.label :ステータス %>
			</div>
				<%= f.select :status, User.statuses.keys.to_a %>
		</div>
		<div class="admin_user_edit_button">
	  		<%= f.submit '更新' %>
	  	</div>
	<% end %>
</div>