<div class="headline">
	<h3 class="headline_text"><%= @user.name %>さんの会員情報編集</h3>
</div>

<div class="customer_contents">

<%= form_for @user, url: admins_user_path(@user.id) do |f| %>
	<div class="customer_id">
		<div class="admin_c_label">
			<%= f.label :プロフィール画像 %>
		</div>
    	<%= f.attachment_field :user_image %>
    </div>
	<div class="customer_id">
		<div class="admin_c_label"><p>ID</p></div>
			<%= @user.id %>
		</div>
		<div class="customer_name">
			<div class="admin_c_label">
				<%= f.label :名前 %>
			</div>
			<%= f.text_field :name %>
		</div>
		<div class="customer_name">
			<div class="admin_c_label">
				<p>Twitter</p>
			</div>
			<%= @user.twitter_account %>
		</div>
		<div class="customer_name">
			<div class="admin_c_label">
				<p>Instagram</p>
			</div>
			<%= @user.instagram_account %>
		</div>
		<div class="customer_tell">
			<div class="admin_c_label">
				<%= f.label :プロフィール %>
			</div>
			<%= f.text_field :profile %>
		</div>
		<div class="customer_email">
			<div class="admin_c_label">
				<%= f.label :メール %>
			</div>
			<%= f.text_field :email %>
		</div>
		<div class="customer_status">
			<div class="admin_c_label">
				<%= f.label :ステータス %>
			</div>
			<%= f.select :status, User.statuses.keys.to_a %>
		</div>
		<div class="c_button">
  			<%= f.submit '更新' %>
  		</div>
<% end %>
</div>