<div class="midasi">
	<h4 class="midasitext"><%= @user.name %></h4>
</div>

<div class="customer_content">
	<div class="admin_c_label">
		<p>ID</p>
	</div>
	<div class="explain_text">
		<%= @user.id %>
		<div class="c_status">
			<%= @user.status %>
		</div>
	</div>
</div>

<div>
	<%= render 'partials/user', user: @user %>
</div>

<div class="c_button">
	<div class="btn btn-primary active">
		<%= link_to "編集", edit_admins_user_path(@user.id) %>
	</div>
</div>

<div>
    <%= render 'partials/posts', posts: @posts %>
</div>