<div class="name">
	<h3 class="name_text"><%= @user.name %></h3>
</div>

<div class="admin_user">
	<div class="admin_user_label">
		<p>ID</p>
	</div>
	<div class="user_id">
		<%= @user.id %>
		<div class="admin_user_status">
			<%= @user.status %>
		</div>
	</div>
</div>

<div>
	<%= render 'partials/user', user: @user %>
</div>

<div class="admin_user_button">
	<%= link_to "編集", edit_admins_user_path(@user.id), class:"btn btn-default" %>
</div>

<div class="admin_user_posts">
    <%= render 'partials/posts', posts: @posts %>
</div>