<div class="headline">
    <h3 class="headline_text">確認画面</h3>
</div>

<div>
    <%= render 'partials/history', purchase: @purchase %>
</div>

<table class="comfirm_price">
    <tr>
        <th>送料</th>
        <td><%= @postage.fee %>円</td>
    <tr>
        <th>合計金額</th>
        <td><%= @purchase.post.price + @postage.fee %>円</td>
    </tr>
    <tr>
        <th>支払い方法</th>
        <td><%= @purchase.final_payment_method %></td>
    </tr>
</table>

    <%= form_with model:@purchase, local: true, url: users_purchase_path(@purchase.id) do |f| %>
        <%= f.hidden_field :postal_code, :value => @purchase.shipping_address.postal_code %>
        <%= f.hidden_field :address, :value => @purchase.shipping_address.address %>
        <%= f.hidden_field :final_price, :value => @purchase.post.price %>
        <%= f.hidden_field :final_postage, :value => @postage.fee %>
        <%= f.hidden_field :final_payment_method, :value => @purchase.final_payment_method %>
        <%= f.hidden_field :buying_status, :value => "取引成立" %>
        <div class="confirm_button">
            <%= f.submit '購入確定', class:"btn btn-default fa-lg" %>
        </div>
    <% end %>
</div>