<div>
    <h3>情報入力</h3>
</div>

<% unless  ShippingAddress.where(user_id: current_user.id).blank? %>
<%= form_with model:@purchase, local: true, url: users_purchase_path(@purchase.id) do |f| %>
	<div>
		<p>支払い方法</p>
	</div>
	<div>
	<%= f.collection_select :final_payment_method, PaymentMethod.where(status: true), :method, :method %>
	</div>
	<div>
		<p>配送先</p>
	</div>
	<div>
		<p>登録済住所</p>
			<%= f.collection_select :shipping_address_id, ShippingAddress.where(user_id: current_user.id), :id, :full_address %>
	</div>

	<div>
		<%= link_to '新しい配送先を追加', new_address_users_purchase_path(@purchase.id) %>
	</div>
    <div>
    	<%= f.submit '確認' %>
    </div>
<% end %>
<% else %>
	<div>
		<%= link_to '新しい配送先を追加', new_address_users_purchase_path(@purchase.id) %>
	</div>
<% end %>