<div>
    <%= render 'partials/history', purchase: @purchase %>
</div>

<div>
    <% if @purchase.buying_status == "到着待ち" && @purchase.selling_status == "入金確認" && @purchase.selling_user == current_user %>
        <%= form_for @purchase, url: users_purchase_path(@purchase.id) do |f| %>
            <%= f.hidden_field :selling_status, :value => "配送済" %>
            <%= f.submit '配送完了連絡' %>
        <% end %>
    <% elsif @purchase.selling_status == "配送済" && @purchase.buying_status == "到着待ち" && @purchase.buying_user == current_user %>
        <%= form_for @purchase, url: users_purchase_path(@purchase.id) do |f| %>
            <%= f.hidden_field :buying_status, :value => "商品到着" %>
            <%= f.submit '商品到着連絡' %>
        <% end %>
    <% end %>
</div>

<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>販売者</th>
			<th>購入者</th>
			<th>販売ステータス</th>
			<th>購入ステータス</th>
			<th>送料</th>
			<th>商品金額</th>
			<th>請求金額</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><a href="<%= users_user_path(@purchase.selling_user.id) %>"><%= @purchase.selling_user.name %></a></td>
			<td><a href="<%= users_user_path(@purchase.buying_user.id) %>"><%= @purchase.buying_user.name %></a></td>
			<td><%= @purchase.selling_status %></td>
			<td><%= @purchase.buying_status %></td>
			<td><%= @purchase.final_postage %></td>
			<td><%= @purchase.final_price %></td>
			<td><%= @purchase.final_postage + @purchase.final_price %></td>
		</tr>
	</tbody>
</table>
