<div>
    <%= render 'partials/history', purchase: @purchase %>
</div>

<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>販売者</th>
			<th>購入者</th>
			<th>送料</th>
			<th>商品金額</th>
			<th>請求金額</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
                <%= link_to admins_user_path(@purchase.selling_user.id), :style=>"color:gray;" do %>
                    <%= @purchase.selling_user.name %>
                <% end %>
            </td>
			<td>
                <%= link_to admins_user_path(@purchase.buying_user.id), :style=>"color:gray;" do %>
                    <%= @purchase.buying_user.name %>
                <% end %>
            </td>
			<td><%= @purchase.final_postage.to_s(:delimited) %>円</td>
			<td><%= @purchase.final_price.to_s(:delimited) %>円</td>
			<td><%= (@purchase.final_postage + @purchase.final_price).to_s(:delimited) %>円</td>
		</tr>
	</tbody>
</table>

<div class="row">
    <div class="col-xs-6">
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>販売ステータス</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><%= @purchase.selling_status %></td>
                    <%= form_for @purchase, url: admins_purchase_path(@purchase.id) do |f| %>
                    <td><%= f.select :selling_status, Purchase.selling_statuses.keys.to_a %></td>
                    <td><%= f.submit '変更' %></td>
                    <% end %>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-6">
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>購入ステータス</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><%= @purchase.buying_status %></td>
                    <%= form_for @purchase, url: admins_purchase_path(@purchase.id) do |f| %>
                    <td><%= f.select :buying_status, Purchase.buying_statuses.keys.to_a %></td>
                    <td><%= f.submit '変更' %></td>
                    <% end %>
                </tr>
            </tbody>
        </table>
    </div>
</div>

