<div>
	<%= render 'partials/data', {purchases: @purchases, genres: @genres} %>
</div>

<div class="genrelists">
	<table class="table table-hover table-inverse">
		<thead>
			<tr>
				<th>日付</th>
				<th>売上</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><%= Date.current.strftime('%Y/%m/%d') %></td>
				<td><%= @today.sum(:final_price) %>円</td>
			</tr>
			<tr>
				<% i = 1 %>
				<% while i <= 26 do %>
					<td><%= Date.current.ago(i.days).strftime('%Y/%m/%d') %></td>
				<td><%= @day_i.sum(:final_price) %>円</td>
				<% i += 1 %>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%#= @day_1.sum(:final_price) %>

