<%= render 'partials/data', {purchases: @purchases, genres: @genres} %>

<div class="row no-gutters">
	<div class="col-xs-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>日付</th>
				</tr>
			</thead>

			<tbody>
				<tr> <!-- 当日の日付を表示 -->
					<td><%= Date.current.strftime('%Y/%m/%d') %></td>
				</tr>
				<% i = 1 %> <!-- 過去4週間の日付を表示 -->
				<% while i <= 27 do %>
				<tr>
					<td><%= Date.current.ago(i.days).strftime('%Y/%m/%d') %></td>
					<% i += 1 %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="col-xs-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>売上</th>
				</tr>
			</thead>

			<tbody>
				<tr> <!-- 当日の売上を表示 -->
					<td><%= @today.sum(:final_price).to_s(:delimited) %>円</td>
				</tr>
				<% @histories.each do |history| %>
				<tr> <!-- 過去4週間の売上を日別に表示 -->
					<td><%= history.sum(:final_price).to_s(:delimited) %>円</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


