<!DOCTYPE html>
<html>
  <head>
    <title>ASfM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
     <header>
      <div>
        <nav>
          <% if admin_signed_in? %>
            <%= link_to 'ASfM', admins_top_path %>
          <% else %>
            <%= link_to 'ASfM', root_path %>
          <% end %>
        </nav>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to 'About', users_posts_about_path %></li>
              <li><%= link_to 'Mypage', users_users_mypage_path %></li>
              <li><%= link_to 'Posts', users_posts_path %></li>
              <li><%= link_to 'Users', users_users_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt" %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to 'Posts', admins_posts_path %></li>
              <li><%= link_to 'Users', admins_users_path %></li>
              <li><%= link_to '購入履歴', admins_purchases_path %></li>
              <li><%= link_to 'Genre', admins_genres_path %></li>
              <li><%= link_to 'Payment', admins_payment_methods_path %></li>
              <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete, class:"fas fa-sign-out-alt" %></li>
            <% else %>
              <li><%= link_to 'About', users_posts_about_path %></li>
              <li><%= link_to 'Posts', users_posts_path %></li>
              <li><%= link_to 'Signup',  new_user_registration_path, class:"fas fa-user-plus" %></li>
              <li><%= link_to 'Login', new_user_session_path, class:"fas fa-sign-in-alt" %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>

    <div class="main">
     <%= yield %>
     <p id="notice"><%= notice %></p>
    </div>
  </body>
</html>
