<!DOCTYPE html>
<html>
  <head>
    <title>ASfM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
     <header>
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <% if admin_signed_in? %>
            <div class="header_icon">
              <%= link_to 'ASfM', admins_top_path, :style=>"color:white;" %>
            </div>
          <% else %>
            <div class="header_icon">
              <%= link_to 'ASfM', root_path, :style=>"color:white;" %>
            </div>
          <% end %>
        </nav>
        <nav class="nav navbar-nav search_form">
          <% unless admin_signed_in? %>
            <%= form_tag(users_searches_path,:method => 'get') do %>
              <%= text_field_tag :search %>
                <%= select_tag(:option, options_for_select([["ユーザー", "1"],["アイテム","2"]]))%>
                <%= submit_tag '検索', :name => nil %>
            <% end %>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'About', users_posts_about_path, :style=>"color:white;" %></li>
              <li><%= link_to 'マイページ', users_users_mypage_path, class:"fas fa-user-cog", :style=>"color:white;" %></li>
              <li><%= link_to 'アイテム', users_posts_path, class:"glyphicon glyphicon-picture", :style=>"color:white;" %></li>
              <li><%= link_to 'ユーザー', users_users_path, class:"glyphicon glyphicon-user", :style=>"color:white;" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt", :style=>"color:white;" %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to 'アイテム', admins_posts_path, class:"glyphicon glyphicon-picture", :style=>"color:white;" %></li>
              <li><%= link_to 'ユーザー', admins_users_path, class:"glyphicon glyphicon-user", :style=>"color:white;" %></li>
              <li><%= link_to '購入履歴', admins_purchases_path, :style=>"color:white;" %></li>
              <li><%= link_to 'ジャンル', admins_genres_path, :style=>"color:white;" %></li>
              <li><%= link_to '支払い関連', admins_payment_methods_path, :style=>"color:white;" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"fas fa-sign-out-alt", :style=>"color:white;" %></li>
            <% else %>
              <li><%= link_to 'About', users_posts_about_path, :style=>"color:white;" %></li>
              <li><%= link_to 'アイテム', users_posts_path, class:"glyphicon glyphicon-picture", :style=>"color:white;" %></li>
              <li><%= link_to 'ユーザー', users_users_path, class:"glyphicon glyphicon-user", :style=>"color:white;" %></li>
              <li><%= link_to '会員登録',  new_user_registration_path, class:"fas fa-user-plus", :style=>"color:white;" %></li>
              <li><%= link_to 'ログイン', new_user_session_path, class:"fas fa-sign-in-alt", :style=>"color:white;" %></li>
            <% end %>
          </ul>
        </nav>
        <% if user_signed_in? %>
        <div id="sp-menu">
          <h2>Mypage</h2>
          <ul>
            <li><a href="<%= users_posts_favorite_path %>">お気に入り</a></li>
            <li><a href="<%= users_posts_follow_path %>">フォローアイテム</a></li>
            <li><a href="<%= users_purchases_buy_path %>">購入履歴</a></li>
            <li><a href="<%= users_purchases_sell_path %>">販売履歴</a></li>
            <li><a href="<%= users_purchases_data_path %>">売上分析</a></li>
            <li><a href="<%= users_users_fix_path %>">プロフィール編集</a></li>
            <li><a href="<%= users_shipping_addresses_path %>">配送先</a></li>
            <li><a href="<%= users_users_withdrawal_path %>">退会手続き</a></li>
          </ul>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <% end %>
      </div>
    </header>

    <div class="container">
      <div class="main">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
